<div class="container mt-auto">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© <%=Date.today.year%> Company, Inc</p>

    <%= image_tag  color_status(true), with: 25, height: 25 %>Finalizada
    <%= image_tag  color_status(false), with: 25, height: 25 %>Não finalizadas

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="https://www.linkedin.com/in/luizdmendes/" class="nav-link px-2 text-muted">Linkedin</a></li>
      <li class="nav-item"><a href="https://github.com/luiz-davi" class="nav-link px-2 text-muted">Github</a></li>
      <li class="nav-item"><a href="https://www.instagram.com/luizdavi2/" class="nav-link px-2 text-muted">Instagram</a></li>
    </ul>
  </footer>
</div>